.pokemons_list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemons_item{
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: solid 1px  #5101d1;
    display: flex;
    justify-content: space-between;
}

.pokemons_item{
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #5101d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemons_item h1 {
    margin: 0;
    font-size: 1.5rem;
    color:  #5101d1;
}

.pokemons_item h2 {
    margin: 0;
    font-size: 1rem;
    color: rgb(114, 111, 111);
}

.pokemons_item p {
    margin: 0;
}

.pokemons_list-details{
    margin: 0.5rem 0;
    padding: 0.5rem;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}