.container{
        
    height: auto;
    display: flex;
    justify-content: stretch;
    align-items: center;
    align-content: center;
    margin: auto;
    width: 60%;
    padding: 0px;
    text-align: center;
    
}
.box{
    margin: 0px;
    width: 33%;
}

.center {
        margin: auto;
        width: 80%;
        
        padding: 10px;
      }